<div *ngIf="pokemon$  |async as pokemon">
  <mat-card class="card">
    <p class="label">modifier le nom</p>
    <input class="input" type="text" (change)="modifyName($event)" value="{{pokemon.name}}">

    <p class="label">modifier le type</p>
    <input class="input" type="text" (change)="modifyType($event)" value="{{pokemon.type}}">

    <p class="label">modifier le text</p>
    <input class="input" type="text" (change)="modifyShortDescription($event)" value="{{pokemon.shortDescription}}">

    <button class="btn" (click)="validateEvent()">Valider</button>
  </mat-card>
</div>