<div *ngIf="pokemon != null">
  <div *ngIf="modify" then edit>
    <app-modify [pokemonId]="pokemon.id"></app-modify>
  </div>
  <mat-card #edit>
    <mat-card-header>
      <mat-card-title>{{pokemon.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex flex-column justify-start align-center">
        <div>
          <title>description</title>
          <p>{{pokemon.shortDescription}}</p>
        </div>
        <div>
          <strong>Types</strong>:
          <span>{{pokemon.type}}</span>
          <button (click)="toggleModify()">modifier</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>